.top_space_blogs{
    height: 80px;
}
.page_header{
    width:100%;
    height: 130px;
    background-color: var(--section_break);
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.page_header p{
 color: #FFF;
font-family: Abhaya Libre;
font-size: 50px;
font-style: normal;
font-weight: 400;
margin-left:23px

}

.blog_container{
    display: flex;
    flex-direction: row;
    transform: scale(0.77);
    transform-origin: left top;
}
.blog_section{
    display: flex;
    flex-direction: column;
}
.create_blogs{
    width:780px;
    margin-top:48px;
    margin-left:60px;
}
.create_title{
    color: #000;
    font-family: 'myanmar-khyay-regular', sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 6px;
}
.section_break_create{
    width: 100%;
    height: 4.911px;
    background-color: var(--section_break);
    margin-left: 0;
    margin-top: 0;
}
/* Your blogs */

.your_blogs {
    display: flex;
    flex-direction: column;
    width: max-content;
    margin-top:53px;
    margin-left:60px;
}

.your_title {
    color: #000;
    font-family: 'myanmar-khyay-regular', sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 6px;
}

.section_break_feed {
    width: 100%;
    height: 4.911px;
    background-color: var(--section_break);
    margin-left: 0;
    margin-top: 0;
}
.blog_img{
    display: flex;
    margin-top: 90px;
    margin-left: 90px;
    align-items: center;
}
.blog_img img{
    width: 862px;
    height: 541px;
    object-fit: contain;
}