.top_space {
  /* height: 80px; */
}
.carousel-inner {
  width: 100% !important;
}
/* Section Three */
.section_one {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 58px;
  margin-left: 60px;
  gap: 100px;
  transform: scale(0.87);
  transform-origin: left top;
  flex-wrap: nowrap;
  width: max-content;
}

.col_one {
  display: flex;
  flex-direction: column;
}

.col_two {
  display: flex;
  flex-direction: column;
  height: max-content;
}

.news_title {
  color: #000;
  font-family: "myanmar-khyay-regular", sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 6px;
}

.section_break {
  width: 100%;
  height: 4.911px;
  background-color: var(--section_break);
  margin-left: 0;
  margin-top: 0;
}

/* POSTS */

.post_container {
  display: flex;
  flex-direction: column;
  width: max-content;
}

.feed_title {
  color: #000;
  font-family: "myanmar-khyay-regular", sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 6px;
}

.section_break_feed {
  width: 100%;
  height: 4.911px;
  background-color: var(--section_break);
  margin-left: 0;
  margin-top: 0;
}

/* Saved Cards */
.saved_articles {
  display: flex;
  flex-direction: column;
  width: max-content;
  height: 340px;
  margin-top: 50px;
}

.saved_title {
  color: #000;
  font-family: "myanmar-khyay-regular", sans-serif;
  font-size: 25px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  justify-content: center;
  width: max-content;
  height: 25px;
}
